fastapi==0.115.8
uvicorn==0.35.0
pydantic[email]>=2.0.0
SQLAlchemy==2.0.42
asyncpg==0.29.0
psycopg2cffi==2.9.0
python-dotenv==1.1.1
python-jose[cryptography]
passlib[bcrypt]
fastapi-mail>=1.4.1
alembic
python-multipart==0.0.20
aiofiles>=23.2.1